<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- css -->
    <link rel="stylesheet" href="about.css">
    <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
    <!-- font -->
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
    <!-- icon -->
    <script src="https://kit.fontawesome.com/235004aab8.js" crossorigin="anonymous"></script>
    <title>Personal Website Template</title>

</head>
<body>
<div class="info_div">
    <div class="profile_info">
        <img src="https://i.ibb.co/cXX24C2/413bf8c4-294b-4963-b35c-29f2a2756359-200x200.png" alt="profile picture">
        <h1>MEDHELP</h1>
        <h2><a href="https://github.com/MasterBrian99">@MedHelp</h2></a>
    </div>
    <div class="icon">
        <ul>

            <li>
                <i class="fas fa-map-marker-alt"><a href="https://en.wikipedia.org/wiki/Sri_Lanka"></i>Kazakhstan</a></li>
        </ul>

    </div>
</div>
<div class="main_content">
    <div class="about" id="center_content">
        <h3>Welcome</h3>
        <p>About Us.</p>
        <div>
            <p>
                The idea of our work is to make ceratin things easier, and also make it more digital. So the main goal is associated with creating webpage that will cope with traditional methods.
            </p>
        </div>
        <div>
            <p>
                We are students of AITU.
            </p>
        </div>
    </div>
    <div class="skills" id="center_content">
        <p>Skills.</p>
        <ul>
            <li>Computer programming and coding</li>
            <li>Object-oriented design (OOD)</li>
            <li>Good writing skills</li>
            <li>Good communication skills</li>

        </ul>
    </div>
    <div class="products" id="center_content">
        <p>Our product.</p>
        <div>
            <p>Perhaps, many of us have faced the problem of waiting lists for a doctor's appointment. Regarding time management, it takes most of the whole day. For the sake of a place in the queue, people skip work, study and waste it. To solve this problem, our team has developed a plan for an online appointment with a doctor.  MedHelp-it is website that helps user to make an appointent with a doctor. Now, it is considered more appropriate to use online programs, instead of traditional one.</p>
        </div>
        <div>
            <p>There are several programs that have similar ideas, like we have, for example, a government website that also allows you to make an appointment with a doctor, this site is damumed.</p>
        </div>
        <div>
            <p>Our auditory is mostly for any users, because everyone are worried about their healthcare. But since our website is for Kazakhstan hospitals, the main auditory is the citizens of Kazakhstan!</p>
        </div>
        <div>

        </div>
    </div>
    <div class="contact" id="center_content">
        <p>Contact me.</p>
        <ul>
            <li>Phone Number<br><a href="#">+123456789</a></li>
            <li>Email me<br><a href="#">mail@mail.ru</a></li>
        </ul>
    </div>

</div>
</body>

</html>